<div
  class="course-item"
  appCourseCreationDate
  [creationDate]="courseItem?.date"
  [class.topRated]="courseItem?.isTopRated"
>
  <div class="course-info">
    <div class="course-header">
      <h2>
        {{'courseItem.videoCourseText' | translate}} {{ courseItem?.id }}.{{ courseItem?.name | uppercase }}
        <i
          *ngIf="courseItem?.isTopRated"
          class="fa-sharp fa-solid fa-star fa-xs"
        ></i>
      </h2>
      <ul class="duration-and-date">
        <li class="length">
          <i class="fa-regular fa-clock fa-rotate-270"></i
          >{{ courseItem?.length | duration }}
        </li>
        <li class="date">
          <i class="fa-regular fa-calendar-days"></i
          >{{ courseItem?.date | date : 'dd MMM, yyyy':undefined:locale }}
        </li>
      </ul>
    </div>
    {{ courseItem?.description }}
  </div>
  <button class="course-button" (click)="onEditCourse(courseItem?.id)">
    <i class="fa fa-pencil"></i>{{'courseItem.edit' | translate}}
  </button>
  <button class="course-button" (click)="onDeleteCouse(courseItem?.id)">
    <i class="fa fa-trash"></i>{{'courseItem.delete' | translate}}
  </button>
</div>
