<div class="duration-section">
  <label for="duration" class="label"> Duration: </label>
  <input
    type="number"
    id="duration"
    placeholder="minutes"
    class="input"
    [formControl]="formControl"
  />
  <span class="required duration-required" *ngIf="formControl.errors?.['required'] && formControl.touched">* required</span>
  <span class="required duration-required" *ngIf="formControl.errors?.['invalidNumber'] && formControl.touched">Only numbers are allowed</span>
  <span class="required duration-required" *ngIf="formControl.errors?.['negativeValue'] && formControl.touched">Minus values are not allowed</span>
  <span class="duration-result">{{ formControl.value | duration }}</span>
</div>
