<header class="header">
  <app-logo></app-logo>
  <ul class="list" *ifAuthenticated="true">
    <li class="list-item">
      <a href="javascript:void(0)" class="link">
        <i class="fa fa-user icon" aria-hidden="true"></i> User Login</a
      >
    </li>
    <li class="list-item">
      <button class="log-off" (click)="onLogout()">
        <a href="javascript:void(0)" class="link">
          <i class="fa fa-sign-out icon" aria-hidden="true"></i> Log off</a
        >
      </button>
    </li>
  </ul>
</header>
