<div class="date-section">
  <label for="date" class="label">{{ 'addCourse.date' | translate }}: </label>
  <input
    type="string"
    id="date"
    placeholder="{{ 'addCourse.datePlaceholder' | translate }}"
    class="input"
    [formControl]="dateControl"
  />
  <span class="required date-required" *ngIf="isDateRequired"
    >* {{ 'addCourse.required' | translate }}</span
  >
  <span class="required date-required" *ngIf="isInvalidDate">{{
    'addCourse.dateFormat' | translate
  }}</span>
</div>
