@use '../../../../styles/variables' as *;

.input {
    border: 2px solid map-get($colors, 'signal-white');
    height: 30px;
    border-radius: 4px;
    padding-left: 10px;
    width: 100%;
    grid-column-start: 1;
}

.input.ng-invalid.ng-touched {
    border: 2px solid map-get($colors, 'red');
}

.label {
    display: block;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 5px;
}

.date-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.date-required {
    text-align: start;
}

.required {
    display: block;
    margin-right: 20px;
    grid-column-start: 2;
    grid-row-start: 1;
    height: 20px;
    text-align: end;
    margin-top: 10px;
    margin-left: -50px;
    text-align: left;
}
