@use '../../../styles/variables' as *;

.add-course-form {
    background-color: map-get($colors, 'signal-white');
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

.add-course-section{
    background-color: map-get($colors, 'white');
    border-radius: 3px;
    box-shadow: map-get($colors, 'black') 0px 1px 4px;
    margin: 20px;
    padding: 20px;
    padding-top: 10px;
    width: 70vw;
}

.input{
    border: 2px solid map-get($colors, 'signal-white');
    height: 30px;
    border-radius: 4px;
    padding-left: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.textarea{
    height: 12vh;
    border: 2px solid map-get($colors, 'signal-white');
    border-radius: 4px;
    padding-left: 10px;
    margin-top: 5px;
    grid-column-start: 1;
    grid-column-end: 3;
    line-height: 20px;
}

.title-section,
.description-section
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.required{
    display: block;
    margin-right: 20px;
    grid-column-start: 2;
    grid-row-start: 1;
    height: 20px;
    text-align: end;
    margin-top: 10px;
    margin-left: -50px;
}

.label{
    display: block;
    font-weight:600;
    height: 30px;
    margin-top: 10px;
}

.buttons{
    display: flex;
    justify-content: end;
}

.button{
    height: 35px;
    margin-right: 5px;
    width: 80px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    margin-top: 30px;
    background-color: map-get($colors, 'agate-grey');
    color: map-get($colors, 'bright-grey');
}

.save{
    background-color: map-get($colors, 'yellow-green');
    color: map-get($colors, 'white')
}