<form class="add-course-form" [formGroup]="addCourseForm" (ngSubmit)="onSave()">
  <div class="add-course-section">
    <h2>New course</h2>
    <div class="title-section">
      <label for="title" class="label">Title:</label>
      <input
        type="text"
        id="title"
        placeholder="Text input"
        name="title"
        class="input"
        formControlName="name"
      />
      <span *ngIf="isNameRequired" class="required">* required</span>
      <span *ngIf="isNameMaxLength" class="pattern"
        >Maximum allowed length is 50 characters</span
      >
    </div>
    <div class="description-section">
      <label for="description" class="label">Description:</label>
      <textarea
        type="text"
        id="description"
        placeholder="Add description"
        name="description"
        class="textarea"
        formControlName="description"
      ></textarea>
      <span *ngIf="isDescriptionRequired" class="required">* required</span>
      <span *ngIf="isDescriptionMaxLength" class="pattern"
        >Maximum allowed length is 500 characters</span
      >
    </div>
    <app-duration-input [formControl]="lengthControl" />
    <app-date-input [formControl]="dateControl" />
    <app-authors-input
      [savedAuthors]="authorsControl"
      [allAuthors]="allAuthors"
      formArrayName="authors"
    />
    <div class="buttons">
      <button
        type="submit"
        class="button save"
        [disabled]="!addCourseForm.valid"
      >
        Save
      </button>
      <button type="button" (click)="onCancel()" class="button">Cancel</button>
    </div>
  </div>
</form>
