<form class="add-course-form" [formGroup]="addCourseForm" (ngSubmit)="onSave()">
  <div class="add-course-section">
    <h2>{{'addCourse.header' | translate}}</h2>
    <div class="title-section">
      <label for="title" class="label">{{'addCourse.title' | translate}}:</label>
      <input
        type="text"
        id="title"
        placeholder="{{'addCourse.titlePlaceholder' | translate}}"
        name="title"
        class="input"
        formControlName="name"
      />
      <span *ngIf="isNameRequired" class="required">* {{'addCourse.required' | translate}}</span>
      <span *ngIf="isNameMaxLength" class="pattern"
        >{{'addCourse.maxTitleLength' | translate}}</span
      >
    </div>
    <div class="description-section">
      <label for="description" class="label">{{'addCourse.description' | translate}}:</label>
      <textarea
        type="text"
        id="description"
        placeholder="{{'addCourse.descriptionPlaceholder' | translate}}"
        name="description"
        class="textarea"
        formControlName="description"
      ></textarea>
      <span *ngIf="isDescriptionRequired" class="required">* {{'addCourse.required' | translate}}</span>
      <span *ngIf="isDescriptionMaxLength" class="pattern"
        >{{'addCourse.maxDescriptionLength' | translate}}</span
      >
    </div>
    <app-duration-input [formControl]="lengthControl" />
    <app-date-input [formControl]="dateControl" />
    <app-authors-input
      [savedAuthors]="authorsControl"
      [allAuthors]="allAuthors"
      formArrayName="authors"
    />
    <div class="buttons">
      <button
        type="submit"
        class="button save"
        [disabled]="!addCourseForm.valid"
      >
        {{'addCourse.save' | translate}}
      </button>
      <button type="button" (click)="onCancel()" class="button">{{'addCourse.cancel' | translate}}</button>
    </div>
  </div>
</form>
