<form class="add-course-form" [formGroup]="addCourseForm" (ngSubmit)="onSave()">
  <div class="add-course-section">
    <h2>New course</h2>
    <div class="title-section">
      <label for="title" class="label">Title:</label>
      <input
        type="text"
        id="title"
        placeholder="Text input"
        name="title"
        class="input"
        formControlName="name"
      />
      <span
        *ngIf="addCourseForm.get('name')?.errors?.['required'] && addCourseForm.get('name')?.touched"
        class="required"
        >* required</span
      >
      <span
        *ngIf="addCourseForm.get('name')?.errors?.['maxlength'] && addCourseForm.get('name')?.touched"
        class="pattern"
        >Maximum allowed length is 50 characters</span
      >
    </div>
    <div class="description-section">
      <label for="description" class="label">Description:</label>
      <textarea
        type="text"
        id="description"
        placeholder="Add description"
        name="description"
        class="textarea"
        formControlName="description"
      ></textarea>
      <span
        *ngIf="addCourseForm.get('description')?.errors?.['required'] && addCourseForm.get('description')?.touched"
        class="required"
        >* required</span
      >
      <span
        *ngIf="addCourseForm.get('description')?.errors?.['maxlength'] && addCourseForm.get('description')?.touched"
        class="pattern"
        >Maximum allowed length is 500 characters</span
      >
    </div>
    <app-duration-input [formControl]="length" />
    <app-date-input [formControl]="date" />
    <app-authors-input
      [savedAuthors]="authors"
      [allAuthors]="allAuthors"
      formArrayName="authors"
    />
    <div class="buttons">
      <button type="submit" class="button save" [disabled]="!addCourseForm.valid">Save</button>
      <button type="button" (click)="onCancel()" class="button">Cancel</button>
    </div>
  </div>
</form>
