<div>
  <form
    class="login-form"
    [formGroup]="loginForm"
    *ngIf="(loadingBlockService.show$ | async) === false"
    (ngSubmit)="onLogin()"
  >
    <div class="login-section">
      <div class="login-header">
        <h2 class="login-title">{{ 'login.text' | translate }}</h2>
        <span class="invalid-details" *ngIf="loginError$ | async"
          >{{ 'login.failed' | translate }}</span
        >
      </div>
      <div class="form-group">
        <div class="label-info">
          <label for="email" class="label">{{ 'login.email' | translate }}:</label>
          <span class="required" *ngIf="isEmailRequired"> {{ 'login.required' | translate }}</span>
        </div>
        <input
          class="input"
          type="email"
          id="email"
          placeholder="{{ 'login.emailPlaceholder' | translate }}"
          name="email"
          autocomplete="email"
          formControlName="email"
        />
      </div>
      <div class="form-group">
        <div class="label-info">
          <label for="password" class="label">{{
            'login.password' | translate
          }}</label>
          <span class="required" *ngIf="isPasswordRequired"> {{ 'login.required' | translate }}</span>
        </div>
        <input
          class="input"
          type="password"
          id="password"
          placeholder="{{ 'login.passwordPlaceholder' | translate }}"
          name="password"
          autocomplete="password"
          formControlName="password"
        />
      </div>
      <div class="link-and-button">
        <a href="javascript:void(0)" class="link">{{
          'login.noPassword' | translate
        }}</a>
        <button type="submit" class="button" [disabled]="!loginForm.valid">
          {{ 'login.text' | translate }}
        </button>
      </div>
    </div>
  </form>
</div>
