<div class="main">
  <div *ngIf="(loadingBlockService.show$ | async) === false">
  <div class="no-data" *ngIf="coursesArray.length === 0">
    {{'courses.noData' | translate}}
  </div>
  <div *ngIf="coursesArray.length !== 0">
    <app-courses-list-item
      *ngFor="let course of coursesArray; trackBy: trackByCourseId"
      [courseItem]="course"
      (deleteCourse)="onDeleteCourse($event)"
      (editCourse)="onEditCourse($event)"
    />
    <button type="button" class="load-more" (click)="onLoadMoreClick()">
      {{'courses.loadMore' | translate}}
    </button>
  </div>
  </div>
</div>
