<div class="main">
  <div *ngIf="(loadingBlockService.show$ | async) === false">
  <div class="no-data" *ngIf="coursesArray.length === 0">
    NO DATA. FEEL FREE TO ADD NEW COURSE
  </div>
  <div *ngIf="coursesArray.length !== 0">
    <app-courses-list-item
      *ngFor="let course of coursesArray; trackBy: trackByCourseId"
      [courseItem]="course"
      (deleteCourse)="onDeleteCourse($event)"
      (editCourse)="onEditCourse($event)"
    />
    <button type="button" class="load-more" (click)="onLoadMoreClick()">
      LOAD MORE
    </button>
  </div>
  </div>
</div>
